.git
.github
.vscode
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
bootstrap/cache/*.php
.env
.env.*
public/storage
supabase/.temp
tests
Web-Development-Design-Foundations-with-HTML5-10TH-ED-Terry-Felke-Morris-Z-Library.pdf
*.log

